/* Styles for the top navigation bar */
.mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #1783aa;
  }
  
  .navbar-logo {
    color: white;
    font-size: 25px;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 18px;
  }
  
  .navbar-link i {
    margin-left: 5px; /* Adjust the spacing between the link text and the icon */
  }
  
  /* Add hover effect */
  .navbar-link:hover {
    color: #fff; /* Change the link color on hover */
  }
  
  /* Add horizontal line on hover */
  .navbar-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Position the line at the center of the link */
    transform: translateX(-50%); /* Center the line horizontally */
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s;
  }
  
  .navbar-link:hover::before {
    width: 100%; /* Expand the line to the full width of the link */
    background-color: #fff; /* Change the line color on hover */
  }
  